venv/
.venv
.idea/

**/__pycache__/
*.pyc

local_settings.py
db.sqlite3

# پوشه PyCharm و VS Code

.vscode/

# فایل‌های سیستمی
__pycache__/
*.pyo

# محیط مجازی (Virtual Environment)
env/

ENV/

# پایگاه داده محلی
*.sqlite3

# فایل‌های کش
*.log
*.pot
*.py[co]
*.so

# پوشه media و static
media/
staticfiles/

# فایل‌های secret یا تنظیمات محلی
*.env
.env/

# تنظیمات سیستم عامل
.DS_Store
Thumbs.db


# فایل‌های مربوط به Django
*.log  # لاگ‌های تولید شده توسط Django
*.pot  # فایل‌های ترجمه (Translation)
*.pyc  # فایل‌های کامپایل شده پایتون
__pycache__/  # پوشه کش پایتون
local_settings.py  # تنظیمات محلی (برای توسعه)
db.sqlite3  # پایگاه داده SQLite (معمولاً در محیط توسعه استفاده می‌شود)
media/  # فایل‌های رسانه‌ای آپلود شده توسط کاربران
staticfiles/  # فایل‌های استاتیک جمع‌آوری شده

# فایل‌های مربوط به IDEها
.vscode/  # تنظیمات ویژوال استودیو کد
.idea/  # تنظیمات JetBrains IDE (مانند PyCharm)
*.swp  # فایل‌های موقت ویرایشگر Vim
*.swo  # فایل‌های موقت ویرایشگر Vim

# فایل‌های محیطی
.env  # فایل‌های متغیرهای محیطی
.venv/        پوشه محیط مجازی        #
venv/                    پوشه محیط مجازی        #
env/  # پوشه محیط مجازی   #
ENV/  # پوشه محیط مجازی     #

# فایل‌های مربوط به Node.js
node_modules/  # پوشه‌ی ماژول‌های Node.js (اگر از Node.js استفاده می‌کنید)          #

# فایل‌های مربوط به تست و پوشش کد
.coverage  # گزارش پوشش کد (Coverage)
htmlcov/  # گزارش HTML پوشش کد

# فایل‌های مربوط به مهاجرت‌های پایگاه داده (اگر نمی‌خواهید آن‌ها را در Git ذخیره کنید)
migrations/

# فایل‌های مربوط به macOS
.DS_Store  # فایل‌های سیستم عامل مک

# فایل‌های مربوط به PyCharm
.idea/  # تنظیمات PyCharm
*.iml  # فایل‌های پروژه PyCharm
local_settings.py  # فایل ستینگ



****************

# Django #
media

# Backup files #
*.bak

# If you are using PyCharm #
# User-specific stuff
.idea/**/workspace.xml
.idea/**/tasks.xml
.idea/**/usage.statistics.xml
.idea/**/dictionaries
.idea/**/shelf

# AWS User-specific
.idea/**/aws.xml

# Generated files
.idea/**/contentModel.xml

# Sensitive or high-churn files
.idea/**/dataSources/
.idea/**/dataSources.ids
.idea/**/dataSources.local.xml
.idea/**/sqlDataSources.xml
.idea/**/dynamic.xml
.idea/**/uiDesigner.xml
.idea/**/dbnavigator.xml

# Gradle
.idea/**/gradle.xml
.idea/**/libraries

# File-based project format
*.iws

# IntelliJ
out/

# JIRA plugin
atlassian-ide-plugin.xml

# Python #
*.py[cod]
*$py.class

# Distribution / packaging
.Python build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.whl
*.egg-info/
.installed.cfg
*.egg
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
.pytest_cache/
nosetests.xml
coverage.xml
*.cover
.hypothesis/

# Jupyter Notebook
.ipynb_checkpoints

# pyenv
.python-version

# celery
celerybeat-schedule.*

# SageMath parsed files
*.sage.py

# Environments
.env
.venv
env.bak/
venv.bak/

# mkdocs documentation
/site

# mypy
.mypy_cache/

# Sublime Text #
*.tmlanguage.cache
*.tmPreferences.cache
*.stTheme.cache
*.sublime-workspace
*.sublime-project

# sftp configuration file
sftp-config.json

# Package control specific files Package
Control.last-run
Control.ca-list
Control.ca-bundle
Control.system-ca-bundle
GitHub.sublime-settings

# Visual Studio Code #
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history