.venv/


**/__pycache__/
*.pyc

# پوشه PyCharm و VS Code
.idea/
.vscode/

# فایل‌های سیستمی
__pycache__/
*.pyo

# محیط مجازی (Virtual Environment)
env/
venv/
ENV/

# پایگاه داده محلی
*.sqlite3

# فایل‌های کش
*.log
*.pot
*.py[co]
*.so

# پوشه media و static
media/
staticfiles/

# فایل‌های secret یا تنظیمات محلی
*.env
.env/

# تنظیمات سیستم عامل
.DS_Store
Thumbs.db


# فایل‌های مربوط به Django
*.log  # لاگ‌های تولید شده توسط Django
*.pot  # فایل‌های ترجمه (Translation)
*.pyc  # فایل‌های کامپایل شده پایتون
__pycache__/  # پوشه کش پایتون
local_settings.py  # تنظیمات محلی (برای توسعه)
db.sqlite3  # پایگاه داده SQLite (معمولاً در محیط توسعه استفاده می‌شود)
media/  # فایل‌های رسانه‌ای آپلود شده توسط کاربران
staticfiles/  # فایل‌های استاتیک جمع‌آوری شده

# فایل‌های مربوط به IDEها
.vscode/  # تنظیمات ویژوال استودیو کد
.idea/  # تنظیمات JetBrains IDE (مانند PyCharm)
*.swp  # فایل‌های موقت ویرایشگر Vim
*.swo  # فایل‌های موقت ویرایشگر Vim

# فایل‌های محیطی
.env  # فایل‌های متغیرهای محیطی
.venv/  # پوشه محیط مجازی
venv/  # پوشه محیط مجازی
env/  # پوشه محیط مجازی
ENV/  # پوشه محیط مجازی

# فایل‌های مربوط به Node.js
node_modules/  # پوشه‌ی ماژول‌های Node.js (اگر از Node.js استفاده می‌کنید)

# فایل‌های مربوط به تست و پوشش کد
.coverage  # گزارش پوشش کد (Coverage)
htmlcov/  # گزارش HTML پوشش کد

# فایل‌های مربوط به مهاجرت‌های پایگاه داده (اگر نمی‌خواهید آن‌ها را در Git ذخیره کنید)
# migrations/

# فایل‌های مربوط به macOS
.DS_Store  # فایل‌های سیستم عامل مک

# فایل‌های مربوط به PyCharm
.idea/  # تنظیمات PyCharm
*.iml  # فایل‌های پروژه PyCharm


